@import "custom";

.header {
  text-align: center;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}

.movie-details {
  .col-md-6:nth-child(2) {
    padding-left: 0;
  }
}

.movie-details .modal-header {
  align-items: start;
}

.card {
  width: 100%;
  height: 100%;

  .spinner-border {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.card-grid {
  margin-top: 0;

  .btn {
    margin-top: auto;
  }

  > div {
    cursor: pointer;
  }
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.view-favourites {
  margin: 0 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.list-group {
  margin-top: 1rem;

  img {
    max-width: 80px;
  }
}

.list-group-item {
  display: flex;

  > div {
    margin-left: 1rem;
  }

  .spinner-border {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.alert {
  margin-top: 1rem;
}

.spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}
